* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    color: red;
}

#hero {
    color: blue;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: crimson;
    margin: 30px 20px;
    padding: 30px;
}

#inner {
    height: 100px;
    width: 100px;
    background-color: bisque;
}

#box2 {
    height: 200px;
    width: 200px;
    background-color: lightblue;
    border: 2px solid white;
    border-radius: 15px;
}

button {
    padding: 12px 22px;
    background-color: rgb(13, 147, 147);
    color: #fff;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: al 0.5s ease;
}

/* button:hover{
    background-color: rgb(47, 183, 183);
 } */

button:active {
    background-color: rgb(47, 183, 183);
}