* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    height: 100%;
    width: 100%;
}

h1 {
    color: crimson;
    font-size: 50px;
}

h1::after {
    content: " I am Sarthak";
    color: royalblue;
    font-size: 25px;
    font-family: cursive;
}

h1::before {
    content: " Welcome, ";
    color: yellow;
    font-size: 30px;
    font-family: fantasy;
}

#box {
    height: 200px;
    width: 200px;
    background-color: royalblue;
    font-size: 20px;
    font-weight: 600;
}

#box::after {
    content: " After Box";
    color: red;
}

#box::before {
    content: "Before Box ";
    color: yellow;
}