* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#box{
    height: 200px;
    width: 200px;
    background-color: red;
    position: absolute;
    animation-name: anime;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes anime {
    from{
        left: 0;
        background-color: red;
        rotate: 0;
        border-radius: 0;
    }

    to{
         left: 75%;
        background-color: blue;
        rotate: 360deg;
        border-radius: 50px;
    }
}