* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,
body {
    height: 100%;
    width: 100%;
}

.parent {
    background-color: crimson;
    display: flex;
}

h4 {
    padding: 15px;
    font-size: 20px;
    background-color: royalblue;
    animation-name: sher;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes sher {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}