* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #fff;
    font-size: 50px;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-template-rows: repeat(3, 1fr); */
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 10% 10% 50% 10% 20%; */
    align-items: center;
    justify-items: center;
}

.box {
    background-color: rgb(225, 101, 101);
    border: 3px solid #fff;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center;
    justify-self: center; */
}