* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas:
        "top-center top-center top-center"
        "left-center center-bottom right-center"
        "left-bottom center-bottom right-bottom"

    ;
}

.top-center {
    background-color: rgb(109, 5, 78);
    grid-area: top-center;
}

.left-center {
    background-color: rgb(151, 24, 174);
    grid-area: left-center;
}

.left-bottom {
    background-color: rgb(171, 29, 81);
    grid-area: left-bottom;
}

.center-bottom {
    background-color: rgb(4, 9, 91);
    grid-area: center-bottom;
}

.right-center {
    background-color: rgb(5, 60, 108);
    grid-area: right-center;
}

.right-bottom {
    background-color: rgb(191, 70, 116);
    grid-area: right-bottom;
}