* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-rows: 10% 60% 30%;
    grid-template-columns: 25% 25% 50%;
    grid-template-areas:
        "header header header"
        "left-center left-center right"
        "left-bottom1 left-bottom2 right"

    ;
}

.header {
    background-color: rgb(57, 176, 240);
    grid-area: header;
}

.left-center {
    background-color: rgb(151, 24, 174);
    grid-area: left-center;
}

.right {
    background-color: rgb(5, 60, 108);
    grid-area: right;
}

.left-bottom1 {
    background-color: rgb(20, 13, 87);
    grid-area: left-bottom1;
}

.left-bottom2 {
    background-color: rgb(171, 29, 81);
    grid-area: left-bottom2;
}
